fastapi
uvicorn[standard]

motor
pymongo

python-dotenv
pydantic
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]

httpx
aiofiles

sse-starlette

python-multipart
openai
loguru

tenacity

orjson

pytest
pytest-asyncio

python-jose[cryptography]
# passlib[bcrypt]
python-multipart
email-validator

argon2-cffi